.main{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: url('../assets/images/bg-curvy-desktop.svg') no-repeat, linear-gradient(hsl(218, 28%, 13%), hsl(218, 28%, 13%)) no-repeat;
  background-size: 1700px;
  background-position: -20px 650px, 0 1150px;
  color: white;
}
